- let error_404_top_img = theme.error_404.background || theme.default_top_img
- let error_404_bg_img = `background-image: url('${url_for(error_404_top_img)}')`

#body-wrap.error
  .error-box
    #error-wrap
      .error-content
        .error-img(style=error_404_bg_img)
        .error-info
          h1.error_title= '404'
          .error_subtitle= theme.error_404.subtitle
          a.button--animated(href=config.root)
            i.anzhiyufont.anzhiyu-icon-rocket
            = _p('回到主页')
